/*!
 * BODY CSS Style
 */
.colorbutton {
	color: #1E52C6;
	font-size: 20px;
}
.form-control {
	height: 41px !important;
}
.mt {
	margin-top: 0px !important;
}
.imatge img {
	width: 100%;
}
body {
	background: #3276b1 !important;
	/*background: white !important; */
}
.nomobile {
	background: #3276b1 !important;
	/*background: white !important;*/
}
#slider {
	background: #3276b1 !important;
}
.table-responsive {
	background: white;
	border-radius: 4px;
}
.imatgemapa {
	text-align: center;
}
.imatgemapa img {
	width: 18px;
}

.ticket {
	text-align: center;
}
.ticket img {
	width: 29px;
}
.amagada {
	height: 100%;
	width: 100%;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}


.map-container {
    position: relative;
    padding-bottom: 26.25%;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe,   
.map-container object,  
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.descripciongrupo {
	background: white;
	border-radius: 4px;
	padding: 10px 15px;
	width: 100%;
	height: auto;
	text-align: justify;
	margin-bottom: 20px;
}

.perfilgrupo h4 {
	border-bottom: 2px solid white;
	font-size: 24px !important;
}

.nomobile h1 {
	font-size: 61px !important;
}

#menu-toggle {
	right: 10px !important;
}
.redesociales {
	font-size: 26px !important;
	margin-top: 25px !important;
}

#menu-close {
	margin: 15px 0px 0px 0px !important;
}

@media (min-width: 685px) and (max-width : 767px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Samsung Galaxy S3 i petit ----------- */
@media only screen and (max-width : 685px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Iphone 5 i petit ----------- */
@media only screen and (max-width : 568px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Iphone 4s i petit ----------- */
@media only screen and (max-width : 480px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
	.nomobile h1 {
		font-size: 48px !important;
	}
}
/* Samsung Galaxy S3 ----------- */
@media only screen and (max-width : 380px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
	.nomobile h1 {
		font-size: 48px !important;
	}
}

/* Iphone 4s i petit ----------- */
@media only screen and (max-width : 320px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
	.nomobile h1 {
		font-size: 48px !important;
	}
}

/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {


}