/*!
 * BODY CSS Style
 */

 /* FOLLOW UNFOLLOW BUTTONS */
 .followbtn > li > button {
 	float: right !important;
	margin-top: -6.5px !important;
 }
.btn {
    cursor:pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    /* border:1px solid #a6a6a6; */
    border: 1px solid #3276B1 !important;
    border-top-color:#bdbdbd;
    border-bottom-color:#8b8a8b;
    
    padding:9px 14px 9px;
    
    color:#666666;
    font-size:11px;
    background-position:0px 0px;
    
    text-shadow: 0 1px 0 #fff;
    font-weight:bold;
    
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #e8e8e8); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #ffffff, #e8e8e8); /* IE10 */
    background-image:      -o-linear-gradient(top, #ffffff, #e8e8e8); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #ffffff, #e8e8e8);
    
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    
    
}

.btn:hover {
    color:#333;
    border-color:#999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #f6f6f6); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #ffffff, #f6f6f6); /* IE10 */
    background-image:      -o-linear-gradient(top, #ffffff, #f6f6f6); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #ffffff, #f6f6f6);
}
.btn:active{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#ffffff)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #e8e8e8, #ffffff); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #e8e8e8, #ffffff); /* IE10 */
    background-image:      -o-linear-gradient(top, #e8e8e8, #ffffff); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #e8e8e8, #ffffff);
}
.btn:focus {
    outline: none;
    border-color:#BD4A39;
}


/* Follow Button Styles */

button.followButton{
    width:120px;
}
button.followButton.following{
    background-color: #57A957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57A957 #57A957 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
}
button.followButton.unfollow{
    background-color: #C43C35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
 /* *********************** */
 .noevents p {
 	text-align: center;
 }

.colorbutton {
	color: #1E52C6;
	font-size: 20px;
}
.form-control {
	height: 41px !important;
}
.mt {
	margin-top: 0px !important;
}
.imatge img {
	width: 100%;
}
body {
	background: #3276b1 !important;
	/*background: white !important; */
}
.nomobile {
	background: #3276b1 !important;
	/*background: white !important;*/
}
#slider {
	background: #3276b1 !important;
}
.table-responsive {
	background: white;
	border-radius: 4px;
}
.imatgemapa {
	text-align: center;
}
.imatgemapa img {
	width: 18px;
}

.ticket {
	text-align: center;
}
.ticket img {
	width: 29px;
}
.amagada {
	height: 100%;
	width: 100%;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}


.map-container {
    position: relative;
    padding-bottom: 26.25%;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe,   
.map-container object,  
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.descripciongrupo {
	background: white;
	border-radius: 4px;
	padding: 10px 15px;
	width: 100%;
	height: auto;
	text-align: justify;
	margin-bottom: 20px;
}

.perfilgrupo h4 {
	border-bottom: 2px solid white;
	font-size: 24px !important;
}

.nomobile h1 {
	font-size: 61px !important;
}

#menu-toggle {
	right: 10px !important;
}
.redesociales {
	font-size: 26px !important;
	margin-top: 25px !important;
}

#menu-close {
	margin: 15px 0px 0px 0px !important;
}

.img-rounded {
	border-radius: 4px !important;
	padding-top: 15px !important;
}

@media (min-width: 685px) and (max-width : 767px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) { 
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Samsung Galaxy S3 i petit ----------- */
@media only screen and (max-width : 685px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Iphone 5 i petit ----------- */
@media only screen and (max-width : 568px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
}

/* Iphone 4s i petit ----------- */
@media only screen and (max-width : 480px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
	.nomobile h1 {
		font-size: 48px !important;
	}
}
/* Samsung Galaxy S3 ----------- */
@media only screen and (max-width : 380px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
	.nomobile h1 {
		font-size: 48px !important;
	}
}

/* Iphone 4s i petit ----------- */
@media only screen and (max-width : 320px) {
	#menu-toggle {
		z-index: 1001 !important;
	}
	#sidebar-wrapper {
		z-index: 1002 !important;
	}
	.nomobile h1 {
		font-size: 48px !important;
	}
}

/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {


}